{% extends 'content_base.html.twig' %}
{% block content_body %}
    <div class="container" style="background:#F0F0F0;padding-right:50px;padding-left:50px;padding-top:50px;padding-bottom:20px;">
        <h1>Create a new month!</h1>

            {{ form_start(monthForm) }}
                {{ form_widget(monthForm) }}

                <button type="submit" class="btn btn-primary">Create!</button>
            {{ form_end(monthForm) }}
    </div>
{% endblock %}
